.App {
  text-align: center;
}

.jumbotron {
  margin: 20px;
}

#movies img, #movie img {
  width: 100%;
}
@media(min-width: 960px) {
  #movies .col-md-3 .well {
      height: 390px;
  }
  
  #movies .col-md-3 img {
      height: 240px;
  }
}

.movies-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movies-grid li {
  padding: 10px 15px;
  text-align: left;
}

.movie {
  width: 140px;
}

.movie-title,
.movie-authors {
  font-size: 0.8em;
}

.movie-title {
  margin-top: 10px;
}

.movie-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.margin {
  margin-top: 40px;
}

.btn {
  margin: 10px;
}